<main class="container">
  <div class="columns is-multiline">
    <div class="column">
      <div class="column">
      <h3 class="title">User: <%= locals.currentUser.username %></h3>
      <h3 class="title">Email: <%= locals.currentUser.email %></h3>
      <h2 class="title">My dance class wishlist:</h2>
    </div>
    <div class="column dance-wishlist">
    <% locals.currentUser.favouriteList.forEach(dance => { %>
      <div class="column is-one-quarter-desktop is-half-tablet">
      <a href="/dances/<%= dance._id %>">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="<%= dance.image %>" alt="<%= dance.danceClass %>">
            </figure>
          </div>
          <div class="card-content">
            <h3 class="title"><%= dance.danceClass %></h3>
            <h4 class="subtitle"><%= dance.studio %></h4>
          </div>
        </div>
      </div>
      </a>
      <% }) %>
    </div>
  </div>
</div>
</main>
