<main class="container">
  <div class="columns is-multiline">
    <% studios.forEach(studio => { %>
      <div class="column is-one-quarter-desktop is-half-tablet">
      <a href="/studios/<%= studio._id %>">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="<%= studio.image %>" alt="<%= studio.name %>">
            </figure>
          </div>
          <div class="card-content">
            <h3 class="title"><%= studio.name %></h3>
            <h4 class="subtitle"><%= studio.location %></h4>
          </div>
        </div>
      </div>
      </a>
      <% }) %>
  </div>
</main>
