<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= studio.image %>" alt="<%= studio.name %>">
      </figure>
    </div>
    <div class="column">
      <h3 class="title"><%= studio.name %></h3>

      <p><%= studio.information %></p>
      <p><%= studio.location %></p>
      <p>Average Rating: <%= studio.avgRating %></p>

      <div class="dance-list">
        <h3>Dances</h3>
          <% dances.forEach(dance => { %>
        <a href="/dances/<%= dance._id %>"><%= dance.danceClass %></a>
        <% }) %>
      </div>
      <% if(locals.isAuthenticated) { %>
        <a href="/studios/<%= studio._id %>/edit" class="button is-primary">Edit</a>
        <form method="POST" action="/studios/<%= studio._id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button is-danger">Delete</button>
        </form>

        <hr />
<ul class="comments">
  <% studio.comments.forEach(comment => { %>
    <li>
    <div class="box">
    <% if(comment.isOwnedBy(locals.currentUser)) { %>
      <form class="delete" method="POST" action="/studios/<%= studio._id %>/comments/<%= comment._id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="delete">x</button>
      </form>
      <% } %>
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <%= comment.content %>
            </p>
            <% if(comment.user) { %>
            <strong><%= comment.user.username %></strong>
            <% } %>
          </div>
        </div>
      </article>
      </div>
    </li>
  <% }) %>
</ul>


        <form method="POST" action="/studios/<%= studio._id %>/comments">
        <textarea class="textarea" name="content"></textarea>
        <p>Rating: <input type="text" name="rating"></input></p>
        <button class="button is-primary">Submit</button>
        </form>
      <% } else { %>
        <p>Log in to leave a review</p>
        <% } %>



    </div>
  </div>
</div>
