<div class="container">
  <form method="POST" action="/dances/<%= dance._id%>">
    <input type="hidden" name="_method" value="PUT">
    <div class="field">
      <label class="label">Category</label>
      <select name="category">
        <option selected disabled>Please choose</option>
        <option value="Tap">Tap</option>
        <option value="World">World</option>
        <option value="Classical">Classical</option>
      </select>
    </div>
    <div class="field">
      <label class="label">Dance Class</label>
      <div class="control">
        <input class="input" name="danceClass" type="text" placeholder="Dance Class" value="<%= dance.danceClass %>" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Studio</label>
      <div class="control">
        <input class="input" name="studio" type="text" placeholder="Studio" value="<%= dance.studio %>" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image" value="<%= dance.image %>" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Content (min 30 chars)</label>
      <div class="control">
        <textarea class="textarea" name="content" placeholder="Content (min 30 chars)" minlength="30"><%= dance.content %></textarea>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
