<main class="container">
  <div>
    <form class="" action="/dances/filter" method="POST">
      <select name="category">
        <option value="">All</option>
        <option value="Tap">Tap</option>
        <option value="World">World</option>
        <option value="Classical">Classical</option>
      </select>
      <input type="submit" value="Go">
    </form>
    <% if(selection) dances = dances.filter(dance => dance.category === selection); %>
  </div>
  <div class="columns is-multiline">
    <% dances.forEach(dance => { %>
      <div class="column is-one-quarter-desktop is-half-tablet">
      <a href="/dances/<%= dance._id %>">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="<%= dance.image %>" alt="<%= dance.danceClass %>">
            </figure>
          </div>
          <div class="card-content">
            <h3 class="title"><%= dance.danceClass %></h3>
            <h4 class="subtitle"><%= dance.studio %></h4>
          </div>
        </div>
      </div>
      </a>
      <% }) %>
  </div>

</main>
