<main class="container">
  <div class="columns is-multiline">
    <% dances.forEach(dance => { %>
      <div class="column is-one-quarter-desktop is-half-tablet">
      <a href="/dances/<%= dance._id %>">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="<%= dance.image %>" alt="<%= dance.danceClass %>">
            </figure>
          </div>
          <div class="card-content">
            <h3 class="title"><%= dance.danceClass %></h3>
            <h4 class="subtitle"><%= dance.studio %></h4>
          </div>
        </div>
      </div>
      </a>
      <% }) %>
  </div>
</main>
