<section class="homepage">
  <div class="container">

    <div class="columns is-multiline">
      <div class="column is-one-third-desktop is-half-tablet">
          <div class="numberOfDances">
            <p>Dance classes: <%= count.danceCount %><br />Studios: <%= count.studioCount %><br /><br />Register or log in to add a studio or dance!</p>
          </div>
      </div>
      <div class="column is-one-third-desktop is-half-tablet">
          <div class="numberOfUsers">
            <p>Join <%= count.userCount %> other users on Judges Scores to help the community find the best dance classes.</p>
            <p></p>
          </div>
      </div>
      <div class="column is-one-third-desktop is-half-tablet">
          <div class="numberOfReviews">
            <p>Dance reviews: <%= count.danceReviewsCount %><br />Studio reviews: <%= count.studioReviewsCount %><br /><br />Register or log in to leave a review!</p>
          </div>
      </div>
    </div>

    <div class="my-slick">
      <div><img src="https://s3-eu-west-1.amazonaws.com/stratfordcircus/assets/Classes/Street-Dance/_1140x710_crop_center-center_100/Street-Dance_1140x711.jpg?mtime=20160728164502"></div>
      <div><img src="https://www.freehousedance.com/wp-content/uploads/2015/03/Jazz11-1320x676.jpg"></div>
      <div><img src="https://s-media-cache-ak0.pinimg.com/originals/3b/29/0a/3b290abb9733f7dd4726e93d55070076.jpg"></div>
    </div>

  </div>
</section>
